/* En tu archivo de estilos (por ejemplo, home.css) */

/* Estilo para el corazón lleno */
.heart-icon {
    color: red; /* Color del corazón lleno */
    margin-left: 20px;
  }
  
  /* Estilo para el corazón vacío */
  .heart-icon-empty {
    color: gray; /* Color del corazón vacío */
  }

  h2{
    margin-bottom: 0 !important;
  }

  .card{
    border: 1px solid rgb(255, 193, 7);
    min-width: 200px;
    margin: 5px;
    border-radius: 5px;
  }


  .carrusel {
    display: flex;
    overflow-x:scroll ;
    width: 100vw;
  }

  .scroll-container{
    width: 100vw;
  }

  